@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
:root {
  --primary-color: #0f2026;

  --font: "Oxygen", sans-serif;
  --text-color: #d9d8d7;
  --link-color: var(--text-color);
  --link-hover-color: #a6d3a9;
  --link-btn-bg-color: #314541;
  --link-btn-bg-hover-color: #648c85;
  --logo-color: var(--link-btn-bg-hover-color);

  --project-bg-color: #182c2f;
  --project-text-bg-color: #26464a;
  --project-text-color: #fff;
  --project-link-color: var(--link-hover-color);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"), */
  background: url("./images/background.png"),
    linear-gradient(180deg, rgba(3, 36, 47, 1) 0%, rgba(100, 140, 133, 1) 100%);
  background-blend-mode: darken;
  font-family: var(--font);
  color: var(--text-color);
}

img {
  width: 100%;
}

a {
  /* text-decoration: none; */
  color: var(--link-color);
  font-weight: 600;
  letter-spacing: 1.2px;
}
a:hover {
  color: var(--link-hover-color);
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1176px;
  margin: 0 auto;
  padding: 2rem 0;
}

.header > a {
  font-size: 1.8rem;
  font-weight: bold;
}

.header > a span:not(:last-child) {
  color: var(--logo-color);
}

.header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

.header nav ul li a {
  text-decoration: none;
}

.header nav ul li:last-child {
  background-color: var(--link-btn-bg-color);
  padding: 0.5rem 1rem;
}

.header nav ul li:last-child:hover {
  background-color: var(--link-btn-bg-hover-color);
  color: inherit;
  transition: background-color 0.3s ease-in-out;
}

.social-nav {
  color: var(--link-btn-bg-hover-color);
  font-size: 1.5rem;
}

.main {
  max-width: 1176px;
  margin: 6.5rem auto;
  /* padding: 0 6rem;
  margin-top: 7rem;
  margin-bottom: 6rem; */
}

.main div {
  width: 50%;
}

.main > div span {
  letter-spacing: 1.2px;
  display: inline-block;
  margin-bottom: 2rem;
}

.main > div h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: var(--link-hover-color);
}

.main > div h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.main > div p {
  line-height: 2.5;
}

.bg-divide {
  background: linear-gradient(
    90deg,
    rgba(46, 85, 89, 1) 0%,

    rgba(15, 31, 36, 0.5) 50%,

    rgba(217, 216, 215, 1) 88%
  );

  height: 5px;
}

/* project section: */
.section-blue {
  background: linear-gradient(
    180deg,
    rgba(3, 36, 47, 1) 0%,
    rgba(100, 140, 133, 1) 100%
  );
  /* background-color: var(--project-bg-color); */
  padding: 4rem 0 6rem 0;
}

#projects {
  max-width: 1176px;
  margin: 0 auto;
  padding: 2rem 0;
}

#projects h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
}

article {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* article img {
  order: 1;
  grid-column: 1 / span 6;
  grid-row: 1/2;
  border-left: 2px solid var(--link-hover-color);
  border-top: 2px solid var(--link-hover-color);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: 1rem;
} */

/* this is the article project image part */
article div:last-child {
  order: 1;
  grid-column: 1 / span 6;
  grid-row: 1/2;
  border-left: 2px solid var(--link-hover-color);
  border-top: 2px solid var(--link-hover-color);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: 1rem;
}

article .text {
  order: 2;
  grid-column: 5 / span 12;
  grid-row: 1/2;
  text-align: right;
}

article .text h4 {
  font-size: 1.1rem;
}
article .text h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
article .text .text-box {
  background-color: var(--project-text-bg-color);
  color: var(--project-text-color);
  padding: 1rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  line-height: 1.6;
  margin-bottom: 1rem;
  font-size: 1rem;
}

article .text .text-box a {
  color: var(--project-link-color);
}

article ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  align-items: center;
  gap: 1rem;
}

.footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 2rem 0;
}

.footer div {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  gap: 1rem;
}

.footer div h3 {
  color: var(--link-hover-color);
  font-weight: bold;
  font-size: 2rem;
}

.footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

.footer div p {
  letter-spacing: 0.5px;
}

body::-webkit-scrollbar {
  /*width: 1em;
  */
  /* width: 1.1rem; */
  background: linear-gradient(
    90deg,
    rgba(46, 85, 89, 1) 0%,
    rgba(15, 31, 36, 0.5) 50%,
    rgba(217, 216, 215, 1) 88%
  );
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  /* border: 1px solid blue; */
  /* width: 100px; */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--project-text-bg-color);
  outline: 1px solid slategrey;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
